<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="fragments/base">
<head layout:fragment="head">
    <title>Add New Eatery</title>
</head>
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span th:text="#{eatery.admin.title}"></span>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-cutlery"></i> <a href="index.html" th:text="#{eatery.admin.new.title}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Blank Page
                </li>
            </ol>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
        <label th:text="#{eatery.name}"></label>
        <input class="form-control input-lg"/>
        </div>

        <div class="col-md-6">
            <label th:text="#{eatery.tel}"></label>
            <input class="form-control input-lg"/>
        </div>

        <div class="col-md-12">
        <label th:text="#{eatery.address}"></label>
        <input class="form-control input-lg"/>
        </div>

        <div class="col-md-6">
        <label th:text="#{eatery.lat}"></label>
        <input class="form-control"/>
        </div>

        <div class="col-md-6">
        <label th:text="#{eatery.lng}"></label>
        <input class="form-control"/>
        </div>

        <div class="col-md-3">
            <button type="submit" class="btn btn-primary" th:text="#{eater.admin.new.action}"></button>
        </div>
    </div>
</section>
</body>
</html>
